<div id="about_us_body">
  <%= image_tag('Setar_logo_2.jpg', id: "about_us_img") %>
  <div id="about_us_area">
    <h3>درباره ما</h3>
    <p>
      من فرزان خ متولد سال ۱۳۶۹ از سن ۱۵ سالگی شروع به نوازندگی کرده و با ذوق و انگیزه ای که داشتم خیلی سریع پیشرفت
    کرده و در سن ۱۸ سالگی شروع به نوازندگی در جشنواره های موسیقی کردم. اکنون با داشتن چندین سال تجربه آموزش نوازندگی به
    هنرجویان و مدرک لیسناتس موسیقی این مجموعه را راه اندازی کرده تا به تخصصی تر موسیقی سنتی ایرانی را آموزش دهیم
  </p>
  </div>
</div>
