<div id="contact_us_body">
  <div id="contact_us_area">
    <div id="contact_us_interior">
      <div id="contact_us_interior_left">
        <%= image_tag('gorgan_map.png', id: "gorgan_map") %>
        <p>.برای بزرگ تر شدن تصویر
          <a data-toggle="modal" data-target="#mapModal">اینجا</a>
          کلیک کنید
        </p>

        <div class="modal" id="mapModal" role="dialog">
          <div id="gorgan_map_Modal" class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <%= image_tag('gorgan_map.png', id: "gorgan_map_modal") %>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div id="contact_us_interior_right">
        <h3>راه های تماس با ما</h3>
        <h4>
          : نشانی
        </h4>
        <p>گرگان - خیابان امام - کوچه علی چپ - روبرو عباس ساندویچی</p>
        <p>
         شماره تلفن: ۰۰۹۸ ۲۸۹۵۸۰۴۹۵۸۰۹
        </p>
        <p>
        rafkldks@gm.com :
        ایمیل
        </p>
      </div>
    </div>
  </div>
</div>
