<div id="home_body">
  <div id="intro">
    <p>آشنایی با ساز های اصیل ایرانی</p>
  </div>
  <div id="practice">
    <div id="practice_left">
      <p>برای آموزش ظریف ترین نکات نوازندگی</p>
    </div>
    <div id="practice_right">
      <p>تمرین در حضور استاد</p>
    </div>
  </div>
  <div id="learning">
    <p>و یادگیری موسیقی</p>
  </div>
</div>
