/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Far.Yekan';
  src: url('/assets/Far_Yekan.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin authentication_content {
  height: fit-content;
  width: fit-content;
  display: inline-block;
  float: right;
  margin: 2.5%;
  background-color: FLORALWHITE;
  overflow: hidden;
  padding: 2.5%;
}

@mixin pushDownText($from, $to) {
  @keyframes pushDown {
      from {
        -ms-transform: translate(0px,$from); /* IE 9 */
        -webkit-transform: translate(0px,$from); /* Safari */
        transform: translate(0px,$from);
      }
      to {
        -ms-transform: translate(0px,$to); /* IE 9 */
        -webkit-transform: translate(0px,$to); /* Safari */
        transform: translate(0px,$to);
      }
  }
  animation-name: pushDown;
  animation-duration: 2s;
}

@keyframes emerge {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
}

@mixin emerging($delay) {
  @keyframes emerge {
      from {
        opacity: 0;
      }
      to {
        opacity: 100;
      }
  }
  animation-name: emerge;
  animation-duration: $delay;
}

body {
  font-family: 'Far.Yekan';
}

title {
  font-family: 'Far.Yekan';
}

 ::-webkit-scrollbar {
     width: 5px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px GREY;
     border-radius: 10px;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: BLACK;
     border-radius: 10px;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: GRAY;
 }

#header {
  background-color: BLACK;
  width: 100%;
  height: 115px;
  color: WHITE;
}

#header_logo {
  width: 55px;
  height: 55px;
  margin-right: 35px;
  margin-top: 30px;
  border-radius: 100%;
  border: 5px solid GRAY;
  display: inline-block;
  float: right;
}

#header p {
  display: block;
  float: right;
  font-size: 2em;
  margin-top: 30px;
  margin-right: 5px;
  @include pushDownText(-3px, 0px);
}

#topperHeaderArea {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

#lowerHeaderArea {
  background-color: inherit;
  height: 30px;
  display: inherit;
  width: fit-content;
  min-height: 10px;
  margin-bottom: 0px;
  overflow: visible;
  float: right;
  border: none;
  position: relative;
}

#navbarItem {
  float: right;
}

.navbarItem_link {
  color: WHITE;
  height: 10px;
}

#navbar {
  float: right;
}

#footer {
  width: 100%;
  bottom: 0;
  height: 35px;
  background-color: GRAY;
  text-align: center;
  color: WHITE;
}

#footer p {
  margin-top: 5px;
  display: inline-block;
}

#signIn_link {
  float: left;
  display: inline-block;
  font-size: 1em;
  margin-top: 30px;
  margin-left: 15px;
  color: WHITE;
}

#signIn_link a {
  color: WHITE;
}

.sign_in_page {
  @include authentication_content;
}

.authentication_page {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  min-height: 550px;
}

.authentication_image {
  width: 35%;
  height: 40%;
  display: inline-block;
  overflow: hidden;
  float: left;
}

.gorgan_map_Modal {
  width: fit-content;
  height: fit-content;
  margin-top: 10%;
  margin-left: 25%;
  text-align: center;
}

.gorgan_map_modal {
  width: 40%;
  height: 40%;
}

#user_dropdown {
  width: 100px;
  height: fit-content;
  position: absolute;
}

#user_img_container {
  width: 100%;
  height: 40px;
  text-align: center;
}

#user_img {
  width: 40px;
  height: 40px;
  border: 2px solid GREY;
  background-color: GREY;
  border-radius: 50%;
}

#user_dropdown_options {
  display: none;
  margin-top: 1.5px;
}

#user_dropdown:hover #user_dropdown_options {
  display: inherit;
}

.user_dropdown_option {
  height: 20px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  background-color: darkslategrey;
}

.user_dropdown_option a {
  color: white;
}

#withTopBorder {
  border-top: 1px solid white;
}
